@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Gorditas:wght@400;700&display=swap');

:root {
    --base-color: #a9defc; 
    --text-color: #000000; 
    --primary-color: #388de3; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Comfortaa, Verdana;
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1 {
    font-family: Gorditas;
}

nav {
    margin: -3em auto 4em auto;
    width: min(1000px, 100%);
    background-color: var(--primary-color);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: Gorditias;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--base-color)
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 1em;
}

.flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

.flex-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    transform: rotate(180deg);
}

header img{
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container1{
    flex: 0 1 34em;
    text-align: center;
    padding: 1em;
}

.text-container2{
    flex: 0 1 34em;
    margin: 0.75em 0 1em 0;
    font-size: 1.25rem;
    text-align: center;
}

h1 {
    font-size: 4.5rem;
}